.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.search-input-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
}


/* Icon */
.search-icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-dark);
    opacity: 0.5;
}

.search-input-wrapper button {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    border: none;
    background-color: var(--color-primary);
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.search-input-wrapper input {
    width: 100%;
    padding: 1rem 140px 1rem 50px;
    font-size: 1rem;

    border-radius: 50px;
    border: 1px solid var(--color-border);
    outline: none;

    background-color: var(--color-white);
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}
