.hero-section {
    background: linear-gradient(
            180deg,
            var(--color-dark) 0%,
            #2a2a2a 100%
    );

    color: var(--color-white);
    padding: 5rem 1rem;
    text-align: center;
}

.hero-content {
    max-width: 900px;
    margin: 0 auto;
}

.hero-section h1 {
    font-size: 3.5rem;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-section h1 span {
    color: var(--color-primary);
}

.hero-section p {
    font-size: 1.1rem;
    opacity: 0.8;
    margin-bottom: 3rem;
}